html,
body {
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;  
  width: 100%;
}

body { 
  background-color: #088658;
}

h1 { 
  color: white ;
  font-family: Merriweather;  
  font-size: 5em; 
  font-weight: bold;
  padding: 3% 20% 1% 20%;
  text-align: center;
  text-shadow: 4px 4px 8px #1f2128;
}

h2 {
  font-family: Merriweather; 
  font-size: 2.5em;  
  font-weight: bold;
  padding: 3% 3% 0% 3%;
  text-align: center;
}

p {
  color: #202020;  
  font-family: Tahoma; 
  font-size: 1.2em;  
  padding-left: 5%; padding-right: 5%;
}

.content {
  background-color: white; 
  border-radius: 10px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 9px 30px 0 rgba(0, 0, 0, 0.25);
  padding: 20px 20px 50px 20px;
  margin: 3% 10% 7% 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
